.latticeFilter {
  background-image: linear-gradient(0deg, transparent 50%, var(--color-slime-a70) 50%),
    linear-gradient(90deg, transparent 50%, var(--color-slime-a70) 50%);
  background-size: 2px 2px;
}

.screen {
  font-family: "Press Start 2P", sans-serif;
  position: relative;
  background: var(--color-slime);
  height: 48px;
  width: 100%;
  box-shadow: inset 2px 2px 1px var(--color-black-a40);
  border-radius: 8px;
  outline: 1px solid white;
  font-weight: 700;
  font-size: 26px;
  padding: 0 8px;
  color: var(--color-blue-darker);
  display: flex;
  align-items: center;
  line-height: 30px;
  justify-content: flex-end;
  overflow-x: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .latticeFilter {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 8px;
  }
}
