.keyContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(72px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(72px, 1fr));
  gap: 8px;

  .isWide {
    grid-column: span 2;
  }
  .isExtraWide {
    grid-column: span 3;
  }

  @media only screen and (max-width: 320px) {
    .isWide,
    .isExtraWide {
      grid-column: span 1;
    }
  }
}

@mixin default-button-styles() {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: hidden;
  border-radius: 16px;
  height: 100%;
  width: 100%;
  min-height: 72px;
  min-width: 72px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid orange;
    outline: none;
  }
  &:active {
    border: 1px solid red;
    background: rgb(228, 228, 228);
  }
}

.numberButton {
  @include default-button-styles();
  color: rgb(134, 134, 134);
}

.negativeActionButton {
  @include default-button-styles();
  color: rgb(210, 43, 168);
}

.equalsActionButton {
  @include default-button-styles();
  color: rgb(57, 210, 43);
}

.operatorButton {
  @include default-button-styles();
  color: rgb(43, 166, 210);
}
