.keyContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(72px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(72px, 1fr));
  gap: 8px;

  .isWide {
    grid-column: span 2;
  }
  .isExtraWide {
    grid-column: span 3;
  }

  @media only screen and (max-width: 320px) {
    .isWide,
    .isExtraWide {
      grid-column: span 1;
    }
  }
}

.default-button {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: hidden;
  border-radius: 16px;
  height: 100%;
  width: 100%;
  min-height: 72px;
  min-width: 72px;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid var(--color-white);
  box-shadow: inset 1px 1px 2px var(--color-black-a40);
  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:focus {
    outline: none;
  }
  &:active {
    background: var(--color-gray-1);
  }
}

.numberButton {
  @extend .default-button;
  color: rgb(134, 134, 134);
}

.negativeActionButton {
  @extend .default-button;
  color: var(--color-white-a80);
  background: var(--color-red);
  box-shadow: inset 1px 1px 2px var(--color-black-a90);

  &:hover {
    background: var(--color-red-lighter);
  }
  &:active {
    background: var(--color-red-lighter);
    color: var(--color-white);
  }
}

.equalsActionButton {
  @extend .default-button;
  color: var(--color-white-a80);
  background: var(--color-green);
  &:hover {
    background: var(--color-green-lighter);
  }
  &:active {
    background: var(--color-green-darker);
    color: var(--color-white);
  }
}

.operatorButton {
  @extend .default-button;
  color: var(--color-blue);
  font-weight: 900;
}
